body{
    background-image: url(../image/background.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
}
.nav_bg_color{
    background-color:rgba(83, 83, 83, 0.6);
}

.navbar-light .navbar-brand{
    color: aliceblue;
}

.navbar-light .navbar-nav .active>.nav-link{
    color: aliceblue;
}

.navbar-expand-lg .navbar-nav .nav-link{
    color: aliceblue;
}

.navbar-light .navbar-nav .nav-link:focus, .navbar-light .navbar-nav .nav-link:hover{
    color: rgb(255, 168, 27);
}
.box{
    background-color: rgba(30, 30, 30, 0.6);
    color: rgb(215, 215, 215);
    margin-top: 25px;
    padding: 20px;

}

.color_1{
    background-color: rgb(44, 44, 44);
    margin-left: 30px;
    margin-right: 30px; 
}
.color_2{
    background-color: rgb(44, 44, 44);
    margin-left: 30px;
    margin-right: 30px;
}
.color_3{
    background-color: rgb(44, 44, 44);
    margin-left: 30px;
    margin-right: 30px; 
}
.color_4{
    background-color: rgb(44, 44, 44);
    margin-left: 30px;
    margin-right: 30px; 
}
.color_5{
    background-color: rgb(44, 44, 44);
    margin-left: 30px;
    margin-right: 30px; 
}
.color_6{
    background-color: rgb(44, 44, 44);
    margin-left: 30px;
    margin-right: 30px; 
}
.color_7{
    background-color: rgb(44, 44, 44);
    margin-left: 30px;
    margin-right: 30px; 
}
.color_8{
    background-color: rgb(44, 44, 44);
    margin-left: 30px;
    margin-right: 30px; 
}
.color_9{
    background-color: rgb(44, 44, 44);
    margin-left: 30px;
    margin-right: 30px; 
}
.color_10{
    background-color: rgb(44, 44, 44);
    margin-left: 30px;
    margin-right: 30px; 
}
.color_11{
    background-color: rgb(44, 44, 44);
    margin-left: 30px;
    margin-right: 30px; 
}
html,body{
    height: 100%;
}
.fixed_bg,.infos{
    position: relative;
    height: 100%;
    background-size: cover;
}
.fixed_bg{
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    margin-left: 30px;
    margin-right: 30px;   
}

.fixed_bg video{  
    width: 100%;
}
.vcenter{
    position: absolute;
    left: 50%;
    top: 90%;
    color: aliceblue;
}

.pword{
    position: absolute;
    color: rgb(255, 255, 255);
    margin: 40px;
    line-height: 50px;
    text-align: center;
}
.hword{
    color: rgb(255, 255, 255);
    margin: 15px;
    text-align: center;
}

.ex_1{
    background-color:rgba(56, 56, 56, 0.8);
    padding: 50px ;
    margin: 30px;
    text-align: center;
}

.ex_h{
    color: rgb(255, 255, 255);
}
.ex_p{
    color: rgb(255, 255, 255);
    line-height: 35px;
}

.a_hword{
    text-align: center;
    color: rgb(255, 255, 255);
    margin-left: 200px;
}


.a_content{
    background-color: rgba(83, 83, 83, 0.6);
    color: rgb(255, 255, 255);
    margin: 30px;
    padding: 20px;
}

#a, #b , #c{
    display: block;
    
}

#a{
    background-color: rgba(83, 83, 83, 0.6);
    color: rgb(255, 255, 255);
    margin: 30px;
    padding: 20px;
}

#b{
    background-color: rgba(83, 83, 83, 0.6);
    color: rgb(255, 255, 255);
    margin: 30px;
    padding: 20px;
}

#c{
    background-color: rgba(83, 83, 83, 0.6);
    color: rgb(255, 255, 255);
    margin: 30px;
    padding: 20px;
}

.menu{
    text-align: center;
    margin: 15px auto;
}

a.move{
    color: black;
    font-size:25px ;
    padding: 15px 25px;
    text-decoration: none;
}

.item {
    color: rgb(255, 255, 255);
    width: 350px;
    height: 250px;
    background-color:rgba(33, 33, 33, 0.7);
    border-right: 1px solid;
    white-space: nowrap;
    display: inline-block;
    margin: 30px;
    text-align: center;
    padding: 50px;   
  }

 .scroll_1 {  
   
    background-color:(33, 33, 33, 0.7);
    white-space: nowrap;
    overflow-x: scroll;
    overflow-y: hidden;
    height: 530px;
    width:100% ;
    margin-top: 150px;
    margin-bottom: 30px;
  }


